{{#if model.immature}}
<h4>Immature Blocks</h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Cüzdan</th>
      <th>Bulma Zamanı</th>
      <th>Varyans</th>
      <th>Ödül</th>
      <th>Tür</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.immature as |block|}}
      {{partial "blocks/block"}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h3>Henüz Olgunlaşmamış Blok Yok</h3>
{{/if}}
