<div class="container">
  <div class="page-header">
    <h1>Hakkımızda</h1>
  </div>
  <h3>Kullanım Şartları</h3>
  <p>Havuzzu kullanarak deneysel nitelik taşıyan madencilikteki olası kayıp risklerini kabullenmiş olursunuz.<br/>
     Havuz sahibi yada yöneticileri geri döndürülemez kayıplardan sorumlu tutulamaz.
  </p>
  <h3>Detaylar</h3>
  <p>
    <ul>
      <li>Havuzla ilgili herhangi bir sorunuzda telegram kanalımızdan ulaşabilirsiniz</li>
      <li>Tüm madencilere bol kazançlar</li>
    </ul>
  </p>
</div>
